* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin-left: ;
}

body {
  background-color: rgb(71, 219, 128);
}

h3 {
  margin-top: 55px;
}
h4 {
  font-size: 18px;
}
.container {
  margin-left: 25px;
}

.pear-pic {
  max-width: 150px;
  max-height: 150px;
}

.slogan {
  font-size: 50px;
  font-family: Comic Sans MS;
}

form {
  display: inline-block;
}

#results p {
  font-family: Comic Sans MS;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

#beer-selection {
  display: inline-block;
}

#results-list {
  list-style-type: none;
}

.beer-pic {
  max-width: 300px;
  max-height: 300px;
  float: right;
  margin-right: 50px;
}

p {
  max-width: 60%;
}
