* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  margin-left: ;
}

body {
  background-color: rgba(2, 2, 2, 0.774);
  color: yellowgreen;
}

h3 {
  margin-top: 15px;
  font-size: 28px;
}

h4,
.beer-choice {
  font-size: 20px;
}

.pear-pic {
  max-width: 150px;
  max-height: 150px;
}

.title-box {
  margin-top: -40px;
}

.title {
  font-size: 65px;
  font-family: Comic Sans MS;
  -webkit-text-stroke: 2px black;
}

.subtitle {
  font-size: 20px;
  font-family: Comic Sans MS;
  max-width: 100%;
  margin-top: -75px;
}

form {
  display: inline-block;
  margin-top: 50px;
  margin-left: 20px;
}

#results p {
  font-family: Comic Sans MS;
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

#beer-selection {
  display: inline-block;
}

#results-list {
  list-style-type: none;
  padding: 5px 5px 5px;
  margin: 10px 10px 10px;
}

.beer-pic {
  /* display: flex;
  flex-wrap: wrap; */
  max-width: 500px;
  max-height: 400px;
  float: right;
  /* margin-right: 50px; */
}

#tip {
  max-width: 80%;
}

.food-pairing,
a {
  color: rgb(161, 186, 240);
  font-size: 16px;
  margin-top: -15px;
}

.list {
  border: solid 5px yellow;
  margin-bottom: 25px;
  padding: 20px 20px;
  border-radius: 30px;
}

.tagline {
  margin-top: -25px;
}

.title-descrip {
  color: rgb(40, 168, 158);
  margin-bottom: 3px;
}

#tip {
  color: black;
}

input[type="number"] {
  width: 45px;
}

@media only screen and (max-width: 600px) {
  .beer-pic {
    display: inline;
    max-width: 200px;
    max-height: 200px;
    float: none;
    margin-left: 25px;
  }
}
